<ul class="nav pull-right" id="auth-controls-logged-in">
    <li><p class="navbar-text">Logged in as <span id="auth-controls-logged-in-user">nobody</span></p></li>
    <li class="divider-vertical"></li>
    <li class=""><button id="log-out-btn" class="btn btn-danger" type="button">Log out</button></li>
</ul>
<form class="navbar-form pull-right" id="auth-controls-logged-out">
    <input class="span2" type="text" placeholder="username">
    <input class="span2" type="password" placeholder="password">
    <button id="log-in-btn" class="btn btn-primary" type="submit">Log in</button>
</form>