<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="/cms">SeisakuCMS&trade;</a>
        <div id="auth-controls"></div>
    </div>
</div>