<div id="cms-item-list-controls">
    <button id="create-btn" class="btn btn-primary btn-small" type="button"><i class="icon-plus icon-white"></i> Create new</button>
    <button id="refresh-btn" class="btn btn-small" type="button"><i class="icon-refresh"></i></button>
</div>