.header {

    h1 {
        font-size: 1rem;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: #000;
        background-color: #fff;

        &:hover {
            background-color: $dusty-pink;
            @include transition(background-color);
        }
    }

    p {
        margin: 0;
        font-size: 1.47rem;
    }
}