#tag-filters {

    ul {
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    li {
        display: inline;
    }

    a {
        color: #777;
        background-color: $bg-colour;

        &:hover {
            color: #fff;
            background-color: #662661;
            -webkit-transition: background-color .25s linear;
            -moz-transition: background-color .25s linear;
            -o-transition: background-color .25s linear;
            -ms-transition: background-color .25s linear;
            transition: background-color .25s linear;
        }

        &.selected {
            color: #fff;
            background-color: #c349ba;
            -webkit-transition: background-color .25s linear;
            -moz-transition: background-color .25s linear;
            -o-transition: background-color .25s linear;
            -ms-transition: background-color .25s linear;
            transition: background-color .25s linear;
        }
    }
}