<time datetime="{{date}}">{{dateText}}</time> <a href="https://github.com/jedrichards"><i class="icon-github-alt"></i></a> Committed <a href="{{url}}">{{sha}}</a> to <a href="{{repoUrl}}">{{repo}}</a>