<form>
    {{>fields}}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> Save</button>
        <button type="button" class="btn btn-danger"><i class="icon-white icon-trash"></i> Delete</button>
        <button type="button" class="btn">Cancel</button>
    </div>
</form>