<label>Database id</label>
<input name="id" value="{{_id}}" class="span4" type="text" disabled>
<label>Name</label>
<input name="name" value="{{name}}" class="span4" type="text">
<label>Date</label>
<input name="date" class="span4" type="text" placeholder="dd/mm/yyyy">
<label>Description</label>
<textarea name="description" class="span4" rows="5">{{description}}</textarea>
<label>Image</label>
<input name="image" value="{{image}}" class="span4" type="text">
<label>Link</label>
<input name="link" value="{{link}}" class="span4" type="text">
<label>Link title</label>
<input name="linkTitle" value="{{linkTitle}}" class="span4" type="text">
<label>Tags</label>
<select name="tags" class="span4" multiple="multiple"></select>