<label>Database id</label>
<input name="id" value="{{_id}}" class="span4" type="text" disabled>
<label>Session id</label>
<input name="sid" value="{{sid}}" class="span4" type="text" disabled>
<label>Auth user</label>
<input name="authUser" value="{{authUser}}" class="span4" type="text" disabled>
<label>Is authorised</label>
<input name="isAuth" value="{{isAuth}}" class="span4" type="text" disabled>
<label>IP address</label>
<input name="ip" value="{{ip}}" class="span4" type="text" disabled>
<label>Last access</label>
<input name="refreshedAt" value="{{refreshedAt}}" class="span4" type="text" disabled>