.main-header {

    background-color: #000;
    color: #fff;

    & > hgroup {

        text-align: center;
        padding: 1.5rem;
        width: 290px;
        margin: 0 auto;

        h1 {

            @include font-size-rems(26px);
        }

        h2 {

            color: #c4c4c4;
            @include font-size-rems(16px);
        }

        @media only screen and (min-width:530px) {

            width: 500px;

            h1 {
                display: inline-block;
            }

            h2 {
                display: inline-block;
                margin-left: 30px;
                position: relative;
                bottom: 3px;
            }
        }
    }
}