<img src="{{image}}">
<h2>{{name}}</h2>
<div class="list">
    <ul>
    {{#tags}}
        <li>{{name}}</li>
    {{/tags}}
    </ul>
</div>
<p class="description">{{description}}</p>
<div><a href="{{link}}" class="link">{{linkTitle}}</a></div>