<header id="cms-header"></header>
<div id="cms-sub-container">
    <div id="cms-user-messages-container"></div>
    <nav id="cms-nav"></nav>
    <div id="cms-item-lists-container"></div>
    <div id="cms-item-form-container"></div>
</div>