@import "../libs/bootstrap";

a { cursor: pointer; }

@font-face {
    font-family: "Asap";
    font-style: normal;
    font-weight: 400;
    src: local("Asap"), local("Asap-Regular"), url(/fonts/asap-400-regular.woff) format("woff");
}

@font-face {
    font-family: "Asap";
    font-style: bold;
    font-weight: 700;
    src: local("Asap"), local("Asap-Bold"), url(/fonts/asap-700-bold.woff) format("woff");
}



#cms-sub-container {
    margin: 20px;
}

#cms-item-list-controls {
    margin-bottom: 10px;
}